# Apex: retired SPA -> chat
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name ${SPARK_DOMAIN};
    ssl_certificate     /etc/letsencrypt/live/${SPARK_DOMAIN}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${SPARK_DOMAIN}/privkey.pem;
    include snippets/tls-common.conf;
    return 301 https://${SPARK_CHAT_HOST}$request_uri;
}
