# Pocket-ID environment -- contains secrets, root:root 600
APP_URL=https://${SPARK_ID_HOST}
TRUST_PROXY=${EDGE_WG_IP}
ENCRYPTION_KEY=CHANGEME
ANALYTICS_DISABLED=true
ALLOW_INSECURE_CALLBACK_URLS=false
